@font-face{ 
	font-family: 'Santana';
	src: url('/fonts/web_fonts/Santana.eot');
	src: url('/fonts/web_fonts/Santana.eot?iefix') format('eot'),
	     url('/fonts/web_fonts/Santana.woff') format('woff'),
	     url('/fonts/web_fonts/Santana.ttf') format('truetype'),
	     url('/fonts/web_fonts/Santana.svg#webfont') format('svg');
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

.zoom{
    height: 1000px;
    margin-top: 0;
    padding-bottom: 23%;
    position: relative;
    overflow: hidden;
    background: url("../imgs/S-layer3.png");
    background-size: cover;
    
}

.zoom:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
   
    background: linear-gradient(transparent, #000);

}

.zoom #layer1{
    position: absolute;
    overflow: visible;
    margin-top: 15%;
    
    width: 100%;
    z-index: 10;
    
}

.zoom #layer2{
    position: absolute;
    margin-top: 23%;
    width: 100%;
    z-index: 8;
    
}

.zoom #text{
    position: absolute;
    margin-top: 0%;
    width: 100%;
    transform: translateY(10%);
    z-index: 9;
    
}
   
#videoContainer {
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-top: -800px;
    width: 100%;
    height: 100vh;
   
    z-index: 1;
}

#videoContainer #video{
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    
    opacity: 0;
}

.content{
    height: 225vh;
    box-sizing: border-box;
    background-color: #F8F9F9;
}

h1{
    font-family: Santana;
}

h2{
    font-family: Calibri;
    font-size: 16px;
}

.content #background{
	top: 1360px;
    height: 1200px;
    width: 60%;
    background-image: url("../imgs/Back1-dark-long.png");
    background-repeat: no-repeat;
    position: absolute;
    
    z-index: 8;
}

.content #portrait{
    position: absolute;
    margin: 7%;
    
    z-index: 10;
    opacity: 0;
}


.content #blogGalery{
    position: absolute;
    margin: 40% 30%;
    
    z-index: 11;
}

slider{
	display: block;
	width:  584px;
	height: 343px;
	background-color: #1f1f1f;
	overflow: hidden;
	position: absolute;
}

slider > * {
	position: absolute;
	display: block;
	width:  584px;
	height: 343px;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overvlow: hidden;
}


slide:nth-child(1){
	left: 0%;
	animation-delay: -1s;
	background: url("../imgs/slide1.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}

slide:nth-child(2){
	animation-delay: 2s;
	background: url("../imgs/slide2.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}

slide:nth-child(3){
	animation-delay: 5s;
	background: url("../imgs/slide3.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}

slide:nth-child(4){
	left: 0%;
	animation-delay: 8s;
	background: url("../imgs/slide4.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}


#clickText{
	color: rgba(0,0,0,0.00);
}

#blogText{
	color: rgba(0,0,0,0.00);
}

.sliderText{
	position: absolute;
	background-color: rgba(0,0,0,0.00);
	width: 584px;
	height: 343px;
	
	z-index: 11;
}

.sliderText:hover #clickText{
	position: absolute;
	top: 20%;
	left: 33%;
	color: #fff;
	font-size: 40px;
}

.sliderText:hover #blogText{
	position: absolute;
	top: 43%;
	left: 25%;
	color: #fff;
	font-size: 35px;
}


.sliderText:hover {
	position: absolute;
	background-color: rgba(33,33,33,0.85);
	width: 584px;
	height: 343px;

	z-index: 11;
}

@keyframes slide {
	0% { left: 100%; width:100%;}
	5% { left: 0%;}
	25% { left: 0%;}
	30% { left: -100%; width: 100%;}
	30.0001% { left: -100%; width: 0%;}
	100% { left: 100%; width: 0%;}
	
}


.content #contentintro{
    position: absolute;
    margin-left: 70%;
    margin-top: 20%;
    
    z-index: 15;
}

.content #CVbutton{
    text-decoration: none;
    font-family: Santana;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(108, 115, 108, 0.9);
    color: #000;
}

.content #CVbutton:hover{ 
    background-color: rgba(108, 115, 108, 0.2);
    text-decoration: none;
}

.content #CVbutton:visited{
    color: #000;
    text-decoration: none;
}

#containerp{
    position: relative;
	top: 0px;
	
    background-color: #F8F9F9;
	z-index: 13;
}

#footer{
	position: relative;
	background-color: #567853;
}



/*transform: translateX(-50%);
background: linear-gradient(transparent, #000);

 <video width="320" height="240" controls>
        <source src="/imgs/Epic%20Dramatic%20Cinematic%20-%20Fairy%20Tale%20(2014).mp4" type="video/mp4">
        </video>

Yvid = 468
 const number = window.screen.height;
const number = window.scrollY + document.querySelector('#video').getBoundingClientRect().top;

 
.video {
    position: absolute;
    margin-top: -800px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    
}

<img src="/imgs/Back1.png" id="background" alt="">

<img src="/imgs/image-placeholder-1200x800.png" id="blogGalery" alt="">

<img src="imgs/image-placeholder-1200x800.png" id="blogGalery" alt=""> 