@font-face {
    font-family: 'Santana';
    src: url('../fonts/Santana/Santana.ttf');
    font-weight: 100;
    font-style: normal;
}


body{
	margin: none;
	text-decoration: none;
	color: #fff;
	text-align: center;
}

#title a{
	text-decoration: none;
	display: block;
}

a{
	text-decoration: none;
	display: none;
}

h1{
	color: #fff;
    font-family: 'Santana';
}

h2{
	color: #fff;
    font-family: 'Calibri';
    font-size: 16px;
	z-index: 10;
}

.onecov:hover a{
	display:block; 
}

.seccov:hover a{
	display:block; 
}

.trdcov:hover a{
	display:block; 
}

.forcov:hover a{
	display:block; 
}

.fivcov:hover a{
	display:block; 
}

#title h1{
	background-color: rgba(108, 115, 108, 0.9);
	width: 94vw;
	margin-top: 50px;
	margin: 0 auto;
	color: #FFFFFF;
	font-family: 'Santana';
	padding: 2%;
	margin-bottom: 1%;
}


#title a{
	position: absolute;
	left: 2%;
	top: 5%;
	text-decoration: none;
	background-color: rgba(100, 100, 100, 0.9);
	color: #FFFFFF;
	font-family: 'Santana';
	padding: 1%;
	transition: transform .2s;
}

#title a:hover{
	transform: scale(1.1);
}

@media only screen and (min-width: 1920px) {
	#title h1{
	background-color: rgba(108, 115, 108, 0.9);
	width: 96%;
	color: #FFFFFF;
	font-family: 'Santana';
	padding: 2%;
	margin-bottom: 1%;
}
	#title a{
	position: absolute;
	left: 2%;
	top: 4%;
	text-decoration: none;
	background-color: rgba(100, 100, 100, 0.9);
	color: #FFFFFF;
	font-family: 'Santana';
	padding: 1%;
	transition: transform .2s;
}
	#gallery{
	height: 83vh;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 10px;
	display: grid;
	max-width: 920;
	margin: 0 auto;
}}


#gallery{
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 10px;
	display: grid;
	max-width: 920;
	margin: 0 auto;
}

#gallery div{
	padding: 30px;
}

.onecov{
	grid-column: 1/3;
	grid-row: 1/3;
	color: rgba(108, 115, 108, 0.0);
	background-color: rgba(108, 115, 108, 0.0);
	z-index: 10;
}

.onecov:hover{
	background-color: rgba(108, 115, 108, 0.9);
	color: rgba(255,255,255,1.00);
	z-index: 10;
}

.one{
	grid-column: 1/3;
	grid-row: 1/3;
	background-image: url("../imgs/slide3.jpg");
	background-repeat: round;
	z-index: 8;
}

.seccov{
	grid-column: 1/3;
	grid-row: 3/5;
	color: rgba(108, 115, 108, 0.0);
	background-color: rgba(108, 115, 108, 0.0);
	z-index: 10;
}

.seccov:hover{
	background-color: rgba(108, 115, 108, 0.9);
	color: rgba(255,255,255,1.00);
	z-index: 10;
}

.two{
	grid-column: 1/3;
	grid-row: 3/5;
	background-image: url("../imgs/slide4.jpg");
	background-repeat: round;
}

.trdcov{
	grid-column: 3/5;
	grid-row: 1/5;
	color: rgba(108, 115, 108, 0.0);
	background-color: rgba(108, 115, 108, 0.0);
	z-index: 10;
}

.trdcov:hover{
	background-color: rgba(108, 115, 108, 0.9);
	color: rgba(255,255,255,1.00);
	z-index: 10;
}

.three{
	grid-column: 3/5;
	grid-row: 1/5;
	/*background-image: url("../imgs/image-placeholder-1200x800 - kopie.png");
	background-repeat: round;*/
	background-color: #727272;
}

.forcov{
	grid-column: 5/7;
	grid-row: 1/3;
	color: rgba(108, 115, 108, 0.0);
	background-color: rgba(108, 115, 108, 0.0);
	z-index: 10;
}

.forcov:hover{
	background-color: rgba(108, 115, 108, 0.9);
	color: rgba(255,255,255,1.00);
	z-index: 10;
}

.four{
	grid-column: 5/7;
	grid-row: 1/3;
	/*background-image: url("../imgs/image-placeholder-1200x800 - kopie.png");
	background-repeat: round;*/
	background-color: #727272;
}

.fivcov{
	grid-column: 5/7;
	grid-row: 3/5;
	color: rgba(108, 115, 108, 0.0);
	background-color: rgba(108, 115, 108, 0.0);
	z-index: 10;
}

.fivcov:hover{
	background-color: rgba(108, 115, 108, 0.9);
	color: rgba(255,255,255,1.00);
	z-index: 10;
}

.five{
	grid-column: 5/7;
	grid-row: 3/5;
	background-image: url("../imgs/PlaningINL.jpg");
	background-repeat: round;
}
	

/*

body{
	display: flex;
	margin: 0;
	border: 0;
}

h1, h2{
	font-family: Santana;
	color: rgba(0,255,255,0.00);
	display: inline-block;
	position: relative;
	width: inherit;
	top: -20px;
	z-index: 10;
}

a:hover h2{
	transition: color 0.5s ease-in-out;
	top: -100%;
	color: rgb(255,255,255);	
}

a:hover h1{
	transition: background-color 0.5s ease-in-out;
	color: rgb(255,255,255);
}

a:hover #color1{
	background-color: rgba(108, 115, 108, 0.9);
}

#color1{
	margin: 5px 5px 5px 10px;
	width: 40vw;
	height: 50vh;
	z-index: 9;
}

#t-1{
	margin: 5px 5px 5px 10px;
	padding-top: 5%;
	width: 40vw;
	height: 50vh;
	text-align: center;
	z-index: 11;
}

#img{
	z-index: 8;
}

#t-2{
	margin: 5px 5px 5px 10px;
	position: absolute;
	width: 40vw;
	height: 40vh;
	text-align: center;
	z-index: 11;
}

#t-3{
	margin: 5px 10px 5px 5px;
	position: absolute;
	width: 30vw;
	height: 91.5vh;
	text-align: center;
	z-index: 11;
}

#t-4, #t-5{
	margin: 5px 10px 5px 5px;
	position: absolute;
	width: 27vw;
	height: 45vh;
	text-align: center;
	z-index: 11;
}

.colum_1{
	
	display: inline-block;
	justify-content: flex-start;
}

.colum_2{
	
	display: inline-block;
	justify-content: center;
}

.colum_3{
	
	display: inline-block;
	justify-content: flex-end;
}

#gp-1{
	margin: 5px 5px 5px 10px;
	width: 40vw;
	height: 50vh;
	z-index: 10;
}

#whp-1{
	margin: 5px 5px 5px 10px;
	width: 40vw;
	height: 40vh;
	z-index: 10;
}

#np-2{
	margin: 5px;
	width: 30vw;
	height: 91.5vh;
	z-index: 10;
}

#wp-3{
	margin: 5px 10px 5px 5px;
	width: 27vw;
	height: 45vh;
	z-index: 10;
}
	
#pp-3{
	margin: 5px 10px 5px 5px;
	width: 27vw;
	height: 45vh;
	z-index: 10;
}


<li id="project_unknown"> 
				<img src="../imgs/image-placeholder-1200x800.png" id="up-1" alt=""></li>
#up-1{
	width: 19vw;
	height: 40vh;
}

<div class="colum_1">
			<a href="pages/project_globe.html" id="project_globe">
				<div id="color1"></div>
				<div id="t-1">
			   <h1>Project Globe</h1><h2>During project globe I transformed an old globe. I made it openable so it shows the inside of the earth.</h2>
				</div>
				</div>
				<img src="../imgs/slide3.jpg" id="gp-1" alt="">
			</a>
			<a href="pages/project_waterheroes.html" id="project_waterheroes">
				<div id="t-2">
				<h1>Project Waterheroes</h1><h2>This was a firstyear team project where we made a interactive chainreaction about clean water for kids.</h2>
				</div>
				<img src="../imgs/waterHeroes.jpg" id="whp-1" alt="">
			</a>
		</div>
		<div class="colum_2">
			<a href="pages/project_nijmegen.html" id="project_nijmegen">
				<div id="t-3">
				<h1>Project Nijmegen</h1><h2>This project is still under construction (planned start date 11 or 12/2019)</h2>
				</div>
				<img src="../imgs/image-placeholder-1200x800.png" id="np-2" alt="">
			</a>
		</div>
		<div class="colum_3">
			<a href="pages/project_website.html" id="project_website">
				<div id="t-4">
				<h1>Personal portfolio</h1><h2>This page explains my design choices when it comes to my websitre and professional image.</h2> </div>
				<img src="../imgs/image-placeholder-1200x800.png" id="wp-3" alt="">
			</a>
			<a href="pages/project_planning.html" id="project_planning">
				<div id="t-5">
				<h1>Team planning</h1><h2>This page explains about the team-workflow I'm used to and how I use Exel and trello for time-management.</h2> </div>
				<img src="../imgs/image-placeholder-1200x800.png" id="pp-3" alt="">
			</a>
		</div>

</div>
	   <img src="../imgs/waterHeroes.jpg" id="waterheroesProject" alt="">
		<img src="../imgs/slide3.jpg" id="globeProject" alt="">
		<img src="../imgs/image-placeholder-1200x800.png" id="ProjectNijmegen" alt="">
		<img src="../imgs/image-placeholder-1200x800.png" id="Planning" alt="">
		<img src="../imgs/image-placeholder-1200x800.png" id="WebsiteBranding" alt="">