/*@media {
@custom-media --PhoneS (min-width: 320px);
@custom-media --PhoneL (min-width: 480px);
@custom-media --Tablet (min-width: 1024 x 768px) lnadscape ;
@custom-media --Laptop (min-width: 1024px) no queries;
@custom-media --Desktop (min-width: 1920px) check;
}*/

@font-face {
    font-family: 'Santana';
    src: url('../fonts/Santana/Santana.ttf');
    font-weight: 100;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
	overflow-x: hidden;
	overflow-y: hidden;
	
}

.loadingWrapper{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1F1F1F;
	width: 100vw;
	height: 100vh;
	
	z-index: 200;
	visibility: visible;
	opacity: 100;
}

.loaderL{
  postion: absolute;
  padding: 0px;
  margin-left: 46vw;
  margin-top: 42vh;
}

.loader {
  border: 16px solid #f3f3f3;  
  border-top: 16px solid rgba(108, 115, 108, 0.9);  
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.zoom{
    height: 189vh;
	width: 100vw;
    margin-top: 0;
    padding-bottom: 23%;
    position: relative;
    overflow: hidden;
    /*background: url("../imgs/S-layer3.png");
    background-size: cover; */
	
}

.zoom:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 90;
   
    background: linear-gradient(transparent, #000);

}

.zoom #layerZ{
    position: absolute;
	height: 100%;
   	width: 150vw;
	top: 0%;
	left: 0%;
 	background: url("../imgs/S-layer3.png");
	background-size: cover;
    
	
    z-index: 4;    
}

.zoom #layer1{
    position: absolute;
    overflow: visible;
    margin-top: 34vh;
	right: 0%;
    
    width: 100%;
    z-index: 10;
    
}

.zoom #layer2{
    position: absolute;
    margin-top: 53vh;
    width: 100%;
    z-index: 8;
    
}

.zoom #text{
    position: absolute;
    margin-top: 0%;
	top: 40vh;
    width: 70%;
	left: 25%;
    transform: translateY(10%);
    z-index: 9;
    
}

@media only screen and (min-width: 1024px) {
	.zoom #layer1{
    margin-top: 36vh;
}
	.zoom #layer2{
    margin-top: 43vh; 
}}
   
#videoContainer {
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	left: 0;
    margin-top: -1000px;
    width: 100%;
    height: 100%;
	
    z-index: 1;
	
}

	#videoContainer #videoL{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
	display: inherit;
}

	#videoContainer #videoM{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
	display: none;
}

	#videoContainer #videoS{
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
	display: none;
}

@media only screen and (min-width: 400px) and (max-width: 1000px) {
	#videoContainer #videoS{
	display: inherit;
	}
	#videoContainer #videoM{
	display: none;
	}
	#videoContainer #videoL{
	display: none;
	}}

@media only screen and (min-width: 1920px) {
	#videoContainer {
    margin-top: -1500px;
}}

@media only screen and (min-width: 1024px) {
	.zoom #layer1{
    margin-top: 36vh;
}
	.zoom #layer2{
    margin-top: 43vh; 
}}

.content{
	top: 1360px;
    height: 200vh;
    box-sizing: border-box;
    background-color: #F8F9F9;
}

h1{
    font-family: 'Santana', 'Calibri';
}

h2{
    font-family: 'Calibri';
    font-size: 16px;
}

.content #background{
	top: 1360px;
    height: 190vh;
    width: 60%;
    background-image: url("../imgs/Back1-dark-longer.png");
 	background-repeat: no-repeat;
    position: absolute;
    
    z-index: 8;
}

.content #portrait{
    position: absolute;
    margin: 7%;
    
    z-index: 10;
    opacity: 0;
}


.content #projectGalery{
    position: absolute;
    margin: 40% 30%;
    
    z-index: 11;
}

slider{
	display: block;
	width:  584px;
	height: 343px;
	background-color: #1f1f1f;
	overflow: hidden;
	position: absolute;
}

slider > * {
	position: absolute;
	display: block;
	width:  584px;
	height: 343px;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overvlow: hidden;
}


slide:nth-child(1){
	left: 0%;
	animation-delay: -1s;
	background: url("../imgs/slide1.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}

slide:nth-child(2){
	animation-delay: 2s;
	background: url("../imgs/slide2.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}

slide:nth-child(3){
	animation-delay: 5s;
	background: url("../imgs/slide3.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}

slide:nth-child(4){
	left: 0%;
	animation-delay: 8s;
	background: url("../imgs/slide4.jpg") no-repeat;
	background-size: 584px, 343px;
	background-position: center;
}


#clickText{
	color: rgba(0,0,0,0.00);
}

#projectText{
	color: rgba(0,0,0,0.00);
}

.sliderText{
	position: absolute;
	background-color: rgba(0,0,0,0.00);
	width: 584px;
	height: 343px;
	
	z-index: 11;
}

#clickText, projectText{
	margin-top: 15%;
	color: rgba(255,255,255,0.00);
}

.sliderText:hover #clickText{
	position: relative;
	color: #fff;
	font-size: 40px;
	text-align: center;
}

.sliderText:hover #projectText{
	position: relative;
	color: #fff;
	font-size: 35px;
	text-align: center;
}


.sliderText:hover {
	background-color: rgba(108, 115, 108, 0.9);
}

@keyframes slide {
	0% { left: 100%; width:100%;}
	5% { left: 0%;}
	25% { left: 0%;}
	30% { left: -100%; width: 100%;}
	30.0001% { left: -100%; width: 0%;}
	100% { left: 100%; width: 0%;}
}

.content #contentintro{
    position: absolute;
    margin-left: 70%;
	margin-right: 5%;
    margin-top: 10%;
	transition: transform .2s;
	
    z-index: 15;
}

.content #CVbutton{
	position: relative;
	top: 20px;
	padding: 10px;
	
    text-decoration: none;
    font-family: 'Santana';
    font-weight: bold;
	color: #FFF;
    
    background-color: rgba(108, 115, 108, 0.9);
	transition: transform .2s;
}

#contentintro #CVbutton:hover{ 
	padding: 10px;
	right: 5px;
	font-size: 18px;
}

@media only screen and (min-width: 1920px) {
	.content{
	top: 1700px;
    height: 200vh;
    box-sizing: border-box;
    background-color: #F8F9F9;
}

.content #background{
	top: 1700px;
    height: 190vh;
    width: 60%;
    background-image: url("../imgs/Back1-dark-longer.png");
 	background-repeat: no-repeat;
    position: absolute;
    
    z-index: 8;
}

.content #portrait{
    position: absolute;
    margin: 17%;
    
    z-index: 10;
    opacity: 0;
}


.content #projectGalery{
    position: absolute;
    margin: 50% 30%;
    
    z-index: 11;
}

#clickText, projectText{
	margin-top: 15%;
	color: rgba(255,255,255,0.00);
}
	
h1{
    font-family: 'Santana', 'Calibri';
	 font-size: 30px;
}

h2{
    font-family: 'Calibri';
    font-size: 21px;
}

.content #contentintro{
    position: absolute;
    margin-left: 70%;
	margin-right: 5%;
    margin-top: 20%;
	transition: transform .2s;
	
    z-index: 15;
}

.content #CVbutton{
	position: relative;
	top: 20px;
	padding: 10px;
	
    text-decoration: none;
    font-family: 'Santana';
    font-weight: bold;
	color: #FFF;
    
    background-color: rgba(108, 115, 108, 0.9);
	transition: transform .2s;
}

#contentintro #CVbutton:hover{ 
	padding: 10px;
	right: 5px;
	font-size: 18px;
}}


/*EINDE QUERY!!!*/

#containerp{
    position: relative;
	top: 0px;
	
    background-color: #F8F9F9;
	z-index: 13;
}

#claim{
	position: absolute;
	top: 95%;
	font-family:'Santana';
	color: #000000;
	right: 0;
	padding-right: 10px;
	font-size: 16px;
	
	z-index: 15;
	
}

.footer{
	display: grid;
	background-color: rgba(108, 115, 108, 0.9);
	max-width: 100vw;
	padding-top: 0.5%;
	padding-bottom: 0.2%;
	grid-gap: 2%;
	grid-template-columns: 87% 10%;
	grid-auto-rows: minmax(1%, auto);
}

.footer p{
	font-family:'Santana';
	color: #fff;
	text-align: left;
	padding-left: 1%;
	font-size: 16px;
	grid-column: 1;
	grid-row: 1;
}

.footer #buttonsFooter{
	z-index: 15;
	grid-column: 2;
	grid-row: 1;
}

#buttonsFooter img{
	height: 35px;
	padding: 5px 5px 0px 5px;
	transition: transform .2s;
}

#buttonsFooter img:hover{
	transform: scale(1.5);
}

/*
.footer{
	vertical-align: bottom;
	display: flex;
	
    background-color: rgba(108, 115, 108, 1);
	z-index: 15;
}

.footer p{
	font-family: Santana;
	color: #fff;
	text-align: left;
	padding-left: 10px;
	font-size: 16px;
	width: 90%;
}

.footer #buttonsFooter{
	z-index: 15;
	vertical-align: middle;
	padding-top: 5px;
}

#buttonsFooter img{
	height: 35px;
	padding: 5px 5px 0px 5px;
	transition: transform .2s;
}

#buttonsFooter img:hover{
	transform: scale(1.5);
}



/*
#buttonsFooter #instructables:hover{
	transform: scale(1.5);
}

#buttonsFooter #linkedin:hover{
	transform: scale(1.5);
}

#buttonsFooter #cvb:hover{
	transform: scale(1.5);
}




/*transform: translateX(-50%);
background: linear-gradient(transparent, #000);

 <video width="320" height="240" controls>
        <source src="/imgs/Epic%20Dramatic%20Cinematic%20-%20Fairy%20Tale%20(2014).mp4" type="video/mp4">
        </video>

Yvid = 468
 const number = window.screen.height;
const number = window.scrollY + document.querySelector('#video').getBoundingClientRect().top;

 
.video {
    position: absolute;
    margin-top: -800px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    
}

<img src="/imgs/Back1.png" id="background" alt="">

<img src="/imgs/image-placeholder-1200x800.png" id="blogGalery" alt="">

<img src="imgs/image-placeholder-1200x800.png" id="blogGalery" alt=""> 

<object data="imgs/cinematic.gif" id="video"></object>